<!DOCTYPE html>
<html>
  <head>
    <title>
      Fourtune!!
    </title>
  </head>
  
  <body>
    <h1>
      Here is your Fourtune
      </h1>
    <h3> hi, <%=@the_user%> , your fortune is <%=@the_fortune%> </h3>
    
    
  </body>
</html>


